.content-box {
	display: flex;
	flex-wrap: wrap;
}

.content-box__image {
	background: url(./images/logo_beer.png) 100% 100%;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	min-height: 200px;
}

.content-box__content {
	background-color: #7F7F7F;
	min-height: 100px;
	word-wrap: break-word;
	padding: 0.5em;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.content-box__element {
	margin: 20px;
	box-shadow: 2px 2px 10px 0px rgba(135, 124, 135, 1);
	border-radius: 10px;
	width: 80%;
	margin: 10px auto;
	border-radius: 10px;
}

.content-box__main {
	width: 25%;
}

.content-box__title {
	color: #fff;
	font-size: 1.5em;
	text-align: center;
}

.content-box__description {
	color: #D0D0D0;
	text-align: justify;
}

.conyent-box__buttons {
	display: flex;
	flex-direction: row;
	color: #fff;
	a,
	div {
		text-decoration: none;
		color: #fff;
		text-align: center;
		box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.6);
		padding: 0.2em 1em;
		margin: 0.3em;
		border-radius: 3px;
		cursor: pointer;
	}
}

@media (min-width: 2210px) {
	.content-box__main {
		width: 10%;
	}
	.content-box__element {
		width: 90%;
	}
	.main__filter {
		width: 30%;
	}
}

@media (max-width: 2209px) {
	.content-box__main {
		width: 16.6%;
	}
	.content-box__element {
		width: 90%;
	}
	.main__filter {
		width: 30%;
	}
}

@media (max-width: 2208px) {
	.content-box__main {
		width: 20%;
	}
	.content-box__element {
		width: 90%;
	}
	.main__filter {
		width: 35%;
	}
	.main__value {
		width: 40%;
	}
}

@media (max-width: 1592px) {
	.content-box__main {
		width: 25%;
	}
	.content-box__element {
		width: 90%;
	}
	.main__filter {
		width: 50%;
	}
}

@media (max-width: 955px) {
	.content-box__main {
		width: 50%;
	}
	.main__filter {
		width: 70%;
	}
}

@media (max-width: 575.98px) {
	.content-box__main {
		width: 100%;
	}
	.content-box__element {
		width: 80%;
	}
	.main__filter {
		width: 80%;
	}
}